body {
    font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: bisque;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

.page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
  }

  .picture {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(images/christin-hume-mfB1B1s4sMc-unsplash\ \(2\).jpg);
    background-size: cover;
    background-position: center;
  }

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 50%;
    text-align: center;
    flex-wrap: wrap;
}

.col-left {
    background-color: gray;
    flex: 0 0 15%;
}

.col-right {
    background-color: pink;
    flex: 0 0 85%;
}

.col-full {
    flex: 0 0 100%;
}
