/*I did this as I read it was a trick to help understand flexbox*/
/*
* { outline: 1px solid red }*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Helvetica; 
  font-size: 16px;
  line-height: 1.5;
margin: 0;
}

img {
    
    margin: auto;
    width: 100%;
    max-width: 300px;
    max-height:100%
  }

/*styling for the page heading and nav bar for the site*/

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    font-size: larger;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

.page-header a {
    padding:0.5em;
    text-decoration:none;
  }

/*a recent photo inserted into the site*/

  .picture {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(images/christin-hume-mfB1B1s4sMc-unsplash\ \(2\).jpg);
    background-size: cover;
    background-position: center;
  }

/*styling for About-Me*/

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.row {
    display: flex;
    width: 100%;
}
.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;

}
.col-left {
    background-color: gray;
    width: 15%;
    border-right: 5px solid rgb(14, 10, 10);
}
.col-right {
    background-color: pink;
    width: 85%;
    justify-content: right;
    
}
#about-me {
    text-align: justify;
}
#contact-me {
    text-align: justify;
}
#contact-me {
    text-align: justify;
}

/*styling for my-work*/

.box {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}


.horiseon {
    max-width: 1000px;
    flex: 1;
}


.col-right {
    background-color: rgb(255, 192, 226);
    flex: 0 0 85%; 
}


.wrap {
    flex-wrap: wrap;
}

.col-full {
flex: 0 0 100%;
}

.col .col-full ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}